<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethome.mapper.AnimalMapper">

    <sql id="waitAdoptCondition">
        r.rescue_status = 'wait_adopted'
    </sql>

    <sql id="searchByKeyList">
        <foreach collection="keyList" item="key" separator="OR">
            (a.name LIKE CONCAT('%', #{key}, '%')
            OR a.species LIKE CONCAT('%', #{key}, '%')
            OR a.breed LIKE CONCAT('%', #{key}, '%')
            OR a.personality LIKE CONCAT('%', #{key}, '%')
            OR a.age = #{key})
        </foreach>
    </sql>

    <select id="selectRandomAnimalList" resultType="com.pethome.entity.mybatis.Animal" parameterType="int">
        SELECT *
        FROM animal
        ORDER BY RAND()
        LIMIT #{limit}
    </select>

    <select id="selectRandomAnimalListWaitAdopt" resultType="com.pethome.entity.mybatis.Animal">
        SELECT a.*, r.rescue_status
        FROM animal a
        LEFT JOIN rescue_record r ON a.animal_id = r.animal_id
        WHERE <include refid="waitAdoptCondition"/>
        ORDER BY RAND()
        LIMIT #{limit}
    </select>

    <select id="selectAnimalByKeyList" resultType="com.pethome.entity.mybatis.Animal">
        SELECT *
        FROM animal a
        WHERE
        <include refid="searchByKeyList"/>
    </select>

    <select id="selectAnimalWaitAdoptByKeyList" resultType="com.pethome.entity.mybatis.Animal">
        SELECT a.*, r.rescue_status
        FROM animal a
        LEFT JOIN rescue_record r ON a.animal_id = r.animal_id
        WHERE <include refid="waitAdoptCondition"/> AND
        <include refid="searchByKeyList"/>
    </select>

</mapper>